<div [hidden]="!cameraActive">
  <div>
    <p class="text-camera"><strong>¡Sonríe!</strong></p>
  </div>
  <div class="camera-area" >
    <video #video class="camera-area-web"></video>
  </div>
  <div class="button-area-camera">
    <button class="btn-camera" (click)="takePhoto()">
      <img src="assets/icons/bi-arrow-right.svg" style="margin-left: 15px">
    </button>
  </div>
</div>

<div [hidden]="!youLike">
  <div>
    <p class="text-selfie"><strong>¿Te gusta?</strong></p>
    <button class="btn-repeat-photo" (click)="repeatPhoto()">
      <img class="icon-repeat" src="assets/icons/bi-backup-restore.svg"><span class="text-repeat">Repetir</span>
    </button>
  </div>
  <div class="selfie-area">
    <canvas #canvas class="selfie-area-web"></canvas>
  </div>
  <div class="button-area-selfie">
    <button class="btn-selfie" (click)="sendForm()">Enviar</button>
  </div>
</div>
