.text-camera{
  color: #224272;
  font-size: 24pt;
  margin-top: 90px;
  margin-left: 141px;
  margin-right: 140px;
  margin-bottom: 43.42px;
}

.camera-area{
  margin-left: 36px;
  margin-right: 37px;
  width: 301px;
  height: 480px;
  background-color: #E5E5E5;
}

.camera-area-web{
  width: 301px;
  height: 480px;
}

.button-area-camera{
  padding-top: 59.58px;
  padding-left: 164px;
  padding-right: 164px;
  padding-bottom: 59px;
}

.btn-camera{
  background: #009DEB;
  border-radius: 99px;
  width: 47px;
  height: 47px;
  color: #E5E5E5;
}

.text-selfie{
  color: #224272;
  font-size: 20pt;
  margin-top: 79.77px;
  margin-left: 122px;
  margin-right: 122px;
}

.selfie-area{
  margin-left: 36px;
  margin-right: 37px;
  height: 480px;
  background-color: #E5E5E5;
}

.button-area-selfie{
  padding-top: 44px;
  padding-left: 114px;
  padding-right: 115px;
  padding-bottom: 43px;
}

.btn-selfie{
  background: #009DEB;
  border-radius: 5px;
  width: 142px;
  height: 45px;
  color: #E5E5E5;
  font-size: 14pt;
}

.btn-repeat-photo{
  padding-top: 25.43px;
  padding-left: 143px;
  padding-bottom: 33.77px;
  padding-right: 8.75px;
}

.text-repeat{
  color: #009DEB;
  padding-left: 8.75px;
}

.icon-repeat{
  float: left;
}

.selfie-area-web{
  width: 301px;
  height: 480px;
}
